@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root{--main-color:crimson}

*{margin:0;padding:0;box-sizing: border-box;user-select: none;}

body{background: #F9FBFD;}

nav .h3 {font-size: 40px;}

.container{background:#fff;border-radius: 20px;margin-top:100px;width:900px;min-height:calc(100vh - 180px );position: relative;}

.heading{font-family: 'Abel', sans-serif;font-size: 50px;padding-top:20px}

.heading>img{width:50px;animation: spin 10s linear infinite;}

@keyframes spin{100%{transform: rotate(360deg);}}

.inner{padding:10px 50px}

.form-control:focus{box-shadow:none;border-color:rgb(211, 211, 211)}

.custom-control{margin:10px 0}

#generate:focus{box-shadow: none;}

.custom-control-input:checked ~ .custom-control-label::before {background-color: var(--main-color) !important;border-color: var(--main-color);}
.custom-control-input:focus ~ .custom-control-label::before {box-shadow: none;}
.custom-control-input ~ .custom-control-label::before {border-color:rgb(211, 211, 211) !important;transform: scale(1.5)}
.custom-control-input:active ~ .custom-control-label::before {background:#fff !important;}

.custom-select:focus{box-shadow:none;border-color:rgb(211, 211, 211)}

.custom-range::-webkit-slider-runnable-track {background: rgb(255, 230, 230)}
.custom-range::-webkit-slider-thumb {background: var(--main-color);transform: scale(1.5);}
.custom-range:active::-webkit-slider-thumb {background: var(--main-color);}
.custom-range:focus::-webkit-slider-thumb {box-shadow: none;}

textarea{resize: none;background: white !important; }

::-webkit-scrollbar-thumb {background: var(--main-color) !important; }
::-webkit-scrollbar-thumb:hover {background: rgb(100, 100, 100) !important; }

.input-group-text{cursor: pointer;}

.footer{position: absolute;bottom:0;left:50%;transform: translateX(-50%);}

.custom-control-label {font-size: 15px;}
@media (max-width:768px) {
    .heading{font-size: 40px;}
    .heading>img{width:40px;}
    .container {max-width:95%}
}

@media (max-width:502px) {
    .inner{padding-left:10px;padding-right:10px}
}
